# Build
build/
dist/
*.class

# IDE - NetBeans
nbproject/private/
nbproject/Makefile-*.mk
nbproject/Package-*.bash
nbdist/
nbactions.xml
nb-configuration.xml

# IDE - IntelliJ
.idea/
*.iml

# IDE - Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
